:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: #FFF;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}


header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #FFF;
}

/*filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/capa.jpg');
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}


.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS';
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}


/* Modal*/

.modal {
    position: fixed;
    margin: 0 auto;
    width: 800px;
    height: 400px;
    top: 25%;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal:target {
opacity: 1;
pointer-events: auto;
}

.modal > div {
width: 200px;
position: relative;
margin: 10% auto;
padding: 15px 20px;
background: #fff;
}

.fechar {
position: absolute;
width: 30px;
right: -15px;
top: -20px;
text-align: center;
line-height: 30px;
margin-top: 5px;
background: #ff4545;
border-radius: 50%;
font-size: 16px;
color: #8d0000;
}